go 1.18

use (
	./Adapter/go_adapter
	./Builder/go_builder
	./ChainOfResponsibility/go_chain_of_responsibility
	./Composite/go-composite
	./Decorator/go-decorator
	./Facade/go_facade
	./Iterator/go_iterator
	./Prototype/go_prototype
	./Singleton/go_singleton
	./Strategy/go_strategy
	./TemplateMethod/go_template_method
	./Visitor/go-visitor
)
